<h1>Words Lists</h1>
<table class="table table-striped lists">
<tbody>
  <% @word_lists.each do |word_list| %>
  <tr>
    <td class= 'col-md-11'>
      <%=link_to word_list_path(word_list) do%>
        <div class='h4'>
          <%=word_list.name%>
          <span class="small"><%="#{time_ago_in_words(word_list.created_at)} ago"%></span>
        </div>
      <% end %>
    </td>
    <td class= 'col-md-1'>
    <%=link_to edit_word_list_path(word_list) do%>
      <div class="glyphicon glyphicon-edit"></div>
    <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
<%=link_to 'Add new words list', home_new_path, class: 'btn btn-success'%>

